* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
}
.logo h1 {
	display: inline-block;
	float: left;
	margin: 10px 30px 0 0;
	line-height: 104px;

}
.nav-wrapper {
	display: inline-block;
	float: left;
	line-height: 114px;

}
.nav-wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;

}
.nav-wrapper li {
	display: inline-block;
	margin: 0 26px;

}
.nav-wrapper a {
	color: #606060;
  text-decoration: none;
}

.user-links {
	float: right;
	line-height: 114px;

}
.user-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	float: left;
}
.user-links li {
	display: inline-block;
	margin: 0px 0px 0px 45px;
}
.user-links a {
	color: #606060;
	text-decoration: none;
}
.user-links__profile {
	background:url('../images/user-icon.png') 0% 50% no-repeat no-repeat;
	padding: 3px 0px 0px 20px;
}
.user-links__profile span {
	color: #f68236;
}
.user-links__cart {
	background:url('../images/basket-icon.png') 0% 50% no-repeat no-repeat;
	padding: 3px 0px 0px 25px;
}
.user-links__search {
	background:url('../images/search-icon.png') 0% 50% no-repeat no-repeat;
	padding: 0px 0px 0px 44px;
}
.user-links__search a {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 14px;
  padding: 0px;
}
.search {
	display: inline-block;
	float: left;
	margin-left: 20px;
}
.search input {
	color: #000;
	font-size: 10px;
	border: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	width: 164px;
	padding: 11px 17px;
}
.search button {
	color: #fff;
	text-align: left;
	overflow: hidden;
	text-indent: -9999px;
	background-color: #606060;
	border: solid;
	border-width: 1px;
	border-color: #959595;
	line-height: 20px;
	width: 39px;
	height: 41px;
	background:url('../images/search-dark-icon.png') 0% 50% no-repeat no-repeat;

}
.separator hr {
	margin: 0;
	color: #a0a0a0;

}
.breadcrumbs ol {
	list-style: none;
	color: #a0a0a0;

}
.breadcrumbs li {
	text-transform: uppercase;
	display: inline-block;
	padding: 0px 5px;
}
.breadcrumbs a {
	color: #a0a0a0;
	text-decoration: none;
}
.highlights {
	text-align: center;
	margin: 145px 0;

}
.highlights h1 {
	text-transform: uppercase;
	font-size: 72px;
	margin: 0;
	color: #303030;
}
.highlights p {
	margin: 30px 0;
	padding: 0 0 80px 0;
	font-size: 24px;
	color: #969696;
}
.btn-shape {
	color: #969696;
	background-color: #fff;
	border: solid;
	border-width: 2px;
	border-color: #BCBCBC;
	padding: 30px 33px;
	text-transform: uppercase;
	text-decoration: none;
}

.tiles table {
	width: 100%;
	table-layout: fixed;
	text-align: center;
	color: #fff;

}
.tiles td {
	height: 295px;
	overflow: hidden;
	padding-left: 50px;
	padding-right: 50px;  
}

.tweet {
	font-size: 14px;
	background: #BBBBBB;
}
.tweet::before {
	font-family: FontAwesome;
	font-size: 30px;
 	content: "- \f099 - \a";
 	white-space: pre; /*What does this do ?*/
}
.tweet span {
	font-weight: bold;
}
.tweet span::before {
 	content: "\a";
 	white-space: pre; /*What does this do ?*/
}
.span-row {
	font-weight: bold;
	font-size: 32px;
	background: #D2D2D2;
	line-height: 40px;
}
.span-row span {
	font-style: italic;
	font-weight: normal;
	font-size: 28px;

}
.basic-light {
	background: #DBDBDB;
}
.feature {
	text-transform: uppercase;
	background: #606060;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}
.feature::before {
	font-size: 24px;
	content: "\2190 \a";
	white-space: pre; /*What does this do ?*/

}
.feature span {
	font-style: italic;
	font-size: 18px;
	font-weight: normal;
}
.basic-dark {
	background: #c2c2c2;
}
.newsletter {
	margin: 130px 0;
	text-align: center;
	position: relative;
}
.newsletter h2 {
	font-size: 36px;
	color: #303030;
	margin: 20px 0;
	text-transform: uppercase;
}
.newsletter p {
	font-size: 18px;
	color: #969696;
	margin-bottom: 50px;
}

.subscribe-form button {
	color: #fff;
	background-color: #f48240;
	border: solid;
	border-width: 1px;
	border-color: #E47435;
	padding: 24px 28px;
	position: absolute;

}
.subscribe-form input[type="email"] {
	color: #000;
	border: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	width: 475px;
	padding: 24px 15px;

}
.grid div {
	float: left;
	width: 295px;
}

.category {
	text-align: center;
	font-size: 14px;
	margin: 130px 0px;

}

.category__type {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 17px;

}
.category__more a {
	font-size: 18px;
	color: #606060;
	text-decoration: none;
	border-bottom: 1px solid;
	position: relative;
	font-style: italic;
}
.category__more a::after {
	font-size: 12px;
	content: "\25b6";
	padding-right: 5px;
	position: absolute;
	left: 95px;
	top: 5px;
}

.category__product {
	margin: 60px 0px;
}
.category__product__img {
	margin-bottom: 20px;
}
.category__product__name {
	font-weight: bold;
}
.category__product__price p {
	color: #6c6c6c;
	margin: 0;
}
.category__product__price p::before {
	color: #6c6c6c;
	content: "\20AC \00a0";
}
.section-title {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 17px;
}
.section-subtitle {
	text-align: center;
	font-size: 18px;
	color: #606060;
	font-style: italic;
}
.purchases table {
	width: 100%;
	margin-top: 90px;
}
.purchases th{
	color: #a0a0a0;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	padding: 10px;
}
.purchases tr {
	border-bottom: 1px solid #a0a0a0;
}
.purchases td {
	padding: 10px;
}
.purchases__single-item-data__img {
	width: 125px;
}
.purchases__single-item-data__description {
	width: 490px;
}
.purchases__single-item-data__description__name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 0px;
}
.purchases__single-item-data__description__ref {
	margin-top: 5px;
	font-size: 12px;
	color: #606060;
	font-style: italic;
}
.purchases__single-item-data__color {
	width: 150px;
}
.purchases__single-item-data__size {
	width: 120px;
}
.purchases__single-item-data__qty {
	width: 70px;
}
.purchases__single-item-data__amount {
	width: 150px;
}

.purchases__single-item-data__delete {
	color: #fff;
	overflow: hidden;
	text-indent: -9999px;
	background-color: #fff;
	/*background: url('../images/cross.png') no-repeat right #fff;*/
	background:url('../images/cross.png') 50% 50% no-repeat no-repeat;
}
.purchases__total {
	background-color: #f9f9f9;
	line-height: 50px;
	text-align: right;
	padding-right: 150px;
	font-weight: bold;
}
.purchases__total p > span {
	font-weight: normal;
	color: #f48240;
}

.box-shape {
	border: 1px solid #a0a0a0;
}

.shipping-form {
	color: #606060;
}
.mini-container {
	max-width: 590px;
	margin: 0 auto;
	padding-top: 50px;
}

.shipping-form label {
	display: block;
	text-transform: uppercase;
	margin: 10px auto;
}
.shipping-form label > span {
	text-transform: none;
}
.shipping-form div {
	margin: 20px auto;
}
.shipping-form input {
	width: 100%;
	height: 40px;
}
.shipping-form select {
	width: 100%;
    border:1px solid #ccc;
    vertical-align:top;
    height:40px;
    padding: 10px;
    -webkit-appearance: none;
    background: url('../images/new-arrow.png') no-repeat right #fff;
}

.shipping-form .grid div:first-child {
	padding-right: 10px;
}
.shipping-form .grid div:last-child {
	padding-left: 10px;
}
.confirm-billing {
	text-align: center;
}
.confirm-billing label {
	display: inline;
}
.confirm-billing input {
	width: 20px;
	height: 15px;
}
.center-btn {
	text-align: center;
	padding: 40px 0px;
}
.center-btn button {
	color: #fff;
	background-color: #f48240;
	border: solid;
	border-width: 1px;
	border-color: #E47435;
	width: 196px;
	height: 50px;
}
.payment-methods select {
	width: 100%;
    border:1px solid #ccc;
    vertical-align:top;
    height:40px;
    padding: 10px;
    -webkit-appearance: none;
    background: url('../images/payment-methods.png') no-repeat right #fff;
}

.total-calculation table {
	margin: 0 auto;
	margin-bottom: 80px;
}
.total-calculation td {
	padding: 10px;
}
.total-calculation td:first-child {
	text-align: right;
}
.custom-separator {
	width: 100%;
	height: 170px;
	background: url('../images/arrows-separator.png') no-repeat center #fff;

}
.purchases__single-item-data__amount p::before,
.total-calculation td:last-child::before,
.purchases__total p > span::before {
	content: "\20AC \00a0";
}

.total-calculation tr:last-child {
	color: #f48240;
}


footer {
	font-size: 12px;
	color: #303030;
}

footer .grid div:not(:first-child) {
	padding-left: 15px;

}

footer .grid div:not(:last-child) {
	border-right: 1px #BCBCBC solid;
	height: 159px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 22px;

}

footer a {
	color: #606060;
	text-decoration: none;
}

footer .social-icons li {
	display: inline-block;
	margin-right: 15px;
}

footer h4 {
	font-size: 14px;
	text-transform: uppercase;
	color: #303030;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}